<section>
  <form class="form">
    <label class="form__label">
      Name:
      <input class="form__input" type="text" name="user_name">
    </label>
    <label class="form__label">
      Surname:
      <input class="form__input" type="text" name="user_surname">
    </label>
    <label class="form__label">
      To Do:
      <textarea class="form__text-area" name="user_text" id="" cols="20" rows="10"></textarea>
    </label>
    <button class="form_btn submit" type="submit">Submit</button>
    <button class="form_btn reset" type="submit">Clear</button>
  </form>
</section>
